.monitoring
  width: 392px
  height: 417px
  &__top
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase
    color:  #36B37E;

    &-wrapper
      width: 102px
      height: 32px
      background-color: rgba(54, 179, 126, 0.1)
      border-radius: 20px
      text-align: center;
      padding-top: 6px
  &__title
    font-family: 'HK Grotesk', sans-serif
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: #183B56;
    &-wrapper
  &__text
    font-size: 20px;
    line-height: 36px;
    color: #5A7184;
    &-wrapper
.stories
  &-wrapper
    display: flex
    justify-content: space-between
  &__swiper-container
    width: 662px
    height: 475px
.swiper-slide
  display: flex

  &__wrapper
    width: 322px
    height: 475px
.slider
  &__img
    width: 317px
    height: 312px
  &__background
    width: 312px
    height: 317px
    background-color: #fff

